<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemMapper">

	<select id="itemList" resultType="ItemDto">
		SELECT *
		FROM OPT_ITEM
		ORDER BY ITEM_NUM_SEQ
	</select>
	
	<select id="itemSelect" parameterType="int" resultType="ItemDto">
		SELECT *
		FROM OPT_ITEM
		WHERE ITEM_NUM_SEQ = #{no}	
	</select>
	
	<update id="itemCount" parameterType="int">
		UPDATE OPT_ITEM SET
		ITEM_VIEWS_NO = ITEM_VIEWS_NO + 1
		WHERE ITEM_NUM_SEQ = #{no}
	</update>
	
	<select id="itemPage" parameterType="map" resultType="ItemDto">
		SELECT R, ITEM_NUM_SEQ, ITEM_NAME, ITEM_PRICE, ITEM_VIEWS_NO, ITEM_CONTENT, ITEM_URL
		FROM(SELECT ROWNUM AS R, ITEM_NUM_SEQ, ITEM_NAME, ITEM_PRICE, ITEM_VIEWS_NO, ITEM_CONTENT, ITEM_URL
		FROM(SELECT ITEM_NUM_SEQ, ITEM_NAME, ITEM_PRICE, ITEM_VIEWS_NO, ITEM_CONTENT, ITEM_URL
		FROM OPT_ITEM WHERE ITEM_ENABLED = 'Y' ORDER BY ITEM_NUM_SEQ DESC)) 
		WHERE R BETWEEN #{start} AND #{end}
	</select>
	
	<select id="searchItem" parameterType="map" resultType="ItemDto">
		SELECT * 
		FROM OPT_ITEM
		<where>	
			<if test="msg != null and keyword == 'title'">
				ITEM_NAME LIKE '%'||#{msg}||'%'
			</if>
			<if test="msg != null and keyword == 'content'">
				ITEM_CONTENT LIKE '%'||#{msg}||'%'
			</if>	
			<if test="msg != null and keyword == 'titleContent'">
				ITEM_NAME LIKE '%'||#{msg}||'%' or
				ITEM_CONTENT LIKE '%'||#{msg}||'%'
			</if>
		</where>
		ORDER BY ITEM_NUM_SEQ DESC	
	</select>
	
	<select id="searchItemPage" parameterType="map" resultType="ItemDto">
		SELECT R, ITEM_NUM_SEQ, ITEM_NAME, ITEM_PRICE, ITEM_VIEWS_NO, ITEM_CONTENT, ITEM_URL
        FROM(SELECT ROWNUM AS R, ITEM_NUM_SEQ, ITEM_NAME, ITEM_PRICE, ITEM_VIEWS_NO, ITEM_CONTENT, ITEM_URL
        FROM(SELECT ITEM_NUM_SEQ, ITEM_NAME, ITEM_PRICE, ITEM_VIEWS_NO, ITEM_CONTENT, ITEM_URL
        FROM OPT_ITEM
        <where>	
			<if test="msg != null and keyword == 'title'">
				ITEM_NAME LIKE '%'||#{msg}||'%'
			</if>
			<if test="msg != null and keyword == 'content'">
				ITEM_CONTENT LIKE '%'||#{msg}||'%'
			</if>	
			<if test="msg != null and keyword == 'titleContent'">
				ITEM_NAME LIKE '%'||#{msg}||'%' or
				ITEM_CONTENT LIKE '%'||#{msg}||'%'
			</if>							
		</where>
		ORDER BY ITEM_NUM_SEQ DESC))
		WHERE R BETWEEN #{start} AND #{end}
	</select>
	
</mapper>