body{
	margin:0;
	padding:0;
	border:0;
	
}

ul,li{
	list-style:none;
	margin:0;
	padding:0;
}

.calinsertBtn {
	text-decoration: none;
	display:inline-block; 
	text-align:center; 
	vertical-align:middle; 
	text-decoration:none; 
	font-size:12px; 
	color:#000; 
	border:1px solid #000; 
	width:118px;
	 height:38px; 
	 line-height:38px; 
	 cursor: pointer;
}

.cal_title{
	width: 100%;
    height: 70px;
    border-bottom: 1px solid #ebebeb;
    background: #ebebeb;
    margin-top: -22px;
    text-align: center;
}
.cal_title h3{
	text-align: center;
    padding-top: 20px;
}
input[type=text]{
	width: 120px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    color: #575757;
    
}
input:focus{
	outline: none;
}
.cal_content{
	width: 100%;
	color: #888;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    padding-top: 25px;
}
input[name=cal_title]{
	position: relative;
    left: 10px;
}
.cal_text{
	padding-bottom: 4px;
}
.cal_text:nth-child(1){
    padding-left: 25%;
}
.cal_text:nth-child(2){
    padding-left: 25%;
}
.cal_text:nth-child(3){
    padding-left: 25%;
}
.cal_text:nth-child(4){
    padding-left: 25%;
}
.btn{
	text-align: center;
    padding-top: 15px;
}