.login_content{
    width: 500px;
   	height: 450px;
    padding-top: 100px;
    margin-left: 42%;
} 
/*추가 */
input:focus{
	outline: none;
}
.login_form{
	width: 300px;
    height: 200px;
}
.blind{
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.id_area{
	height: 50px;
}
.pw_area{
	height: 40px;
}
.idchk_span{
	display: block;
	font-size: 12px;
    line-height: 16px;
    margin: -2px 0 12px;
    color: #ff1616;
}
.login_btn{
	display: block;
    width: 100%;
    height: 60px;
    padding-top: 1px;
    border: none;
    border-radius: 0;
    background-color: #cbb7d6;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 61px;
    margin: 20px 0 14px;
    border-radius: 50px;
    margin-top: 38px;
    
}
input[type=text]{
	width: 300px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    FONT-SIZE: 16PX;
    
}
.pw_area input{
	width: 300px;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.regist_btn{
	display: block;
    width: 100%;
    height: 60px;
    padding-top: 1px;
    border: none;
    border-radius: 0;
    background-color: #00000;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 61px;
    margin: 20px 0 14px;
    border-radius: 50px;
    
}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.checks {
    position: relative;
    margin-top: 13px;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 21px;  /* 체크박스의 너비를 지정 */
  height: 21px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius : 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}


.checks.etrans input[type="checkbox"] + label {
  padding-left: 30px;
}
.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: .6;
  box-shadow: none;
  border-color: #6cc0e5;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity:1; 
  background: transparent;
  border-color:transparent #6cc0e5 #6cc0e5 transparent;
  border-top-color:transparent;
  border-left-color:transparent;
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked + label:before {
  /*content:"\2713";*/
  content: "\2714";
  top: 0;
  left: 0;
  width: 21px;
  line-height: 21px;
  color: #6cc0e5;
  text-align: center;
  border: 1px solid #6cc0e5;
}

.search_idpw_area{
	width: 100%;
    height: 60px;
   /*  border-top: 1px solid #ebebeb; */
    padding-top: 7px;
    text-align: center;
}
.search_idpw_area a{
	cursor: pointer;
    font-size: 12px;
    line-height: 13px;
    display: inline-block;
    text-decoration: none;
    color: #8e8e8e;
}
.bar{
	display: inline-block;
    width: 1px;
    height: 14px;
    text-indent: -999em;
    background: #e4e4e5;
    margin: 5px 9px;
    position: relative;
    top: 7px;
}
.sns_login_area{
	padding-left: 20px;
}
.kakao_login img{
	padding-left:10px;
	
}
#naverIdLogin{
	 float: left;
}